<div>
  <div [class]="'panel ' + (server.status ? 'panel-success' : 'panel-danger')">
    <div class="panel-heading">
      {{ server.name }}
    </div>
    <div class="panel-body">
      <div class="pull-left">
        {{ server.status ? "Online" : "Offline" }}
      </div>
      <div class="pull-right">
        <button (click)="onEditServer()" class="btn btn-xs btn-warning">
          Edit <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </div>
    </div>
  </div>
</div>
