<!-- <div class="row">
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-primary btn-xs" (click)="onGoUsersPage()">
      Users
    </button>
    &nbsp;
    <button class="btn btn-primary btn-xs" (click)="onGoHomePage()">
      Home Page
    </button>
  </div>
</div>
<hr /> -->
<div class="row">
  <div class="col-xs-12 col-sm-4" *ngIf="selectedServer; else emptyServerList">
    <div class="list-group">
      <!-- 'edit',  -->
      <a
        [routerLink]="['/servers', server.id]"
        *ngFor="let server of servers"
        class="list-group-item"
      >
        <!-- [queryParams]="{allowEdit: false}"
          fragment="loading" -->
        <!-- (click)="onSelectServer(server)" -->
        {{ server.name }}
      </a>
    </div>
  </div>
  <ng-template #emptyServerList>
    <div class="col-xs-12">
      <h4>Server list is empty</h4>
    </div>
  </ng-template>
</div>
