<div class="row">
  <div class="col-xs-12 col-sm-4" *ngIf="selectedServer; else emptyServerList">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{ testParam: false }"
        fragment="loading"
        *ngFor="let server of servers"
        class="list-group-item"
      >
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4" *ngIf="selectedServer; else emptyServerList">
    <router-outlet></router-outlet>
  </div>
  <ng-template #emptyServerList>
    <div class="col-xs-12">
      <h4>Server list is empty</h4>
    </div>
  </ng-template>
</div>
